<nav>
    <mat-toolbar color="primary" class="footer-spacer">
        <h3>Food Ordering App</h3>

        <mat-list>
            <mat-list-item><a routerLink="/homepage">Home</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a routerLink="/menu">Menu</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a routerLink="/order">Order</a></mat-list-item>           
        </mat-list>

        <mat-list>
            <mat-list-item>Contact Us</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a href="tel:1234567890">123-456-7890</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>100 Road Avenue Parkway, Nowhere OK, 73803</mat-list-item>
        </mat-list>

    </mat-toolbar>
</nav>

